.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsla(197, 27%, 87%, 0.468);
  color: rgb(52, 156, 174, 0.646);
  padding: 10px 20px;

  .logo {
    img {
      cursor: pointer;
      max-width: 100px;
    }
  }

  .pesquisar {
    flex: auto;
    display: flex;
    justify-content: center;
    margin: 0 30px;

    form {
      flex: auto;
      min-width: 300px;
      max-width: 700px;
    }
  }

  .menu {
    display: flex;
    gap: 10px;

    p-button {
      white-space: nowrap;
      min-width: max-content;
    }
  }
}
