<header class="header">
  <div class="logo" [routerLink]="'/home'">
    <img src="IMG.png" alt="">
  </div>

  <div class="pesquisar">
    <form (ngSubmit)="onSubmit()">
      <p-inputGroup>
        <input
          type="text"
          pInputText
          placeholder="Buscar produtos"
          name="pesquisa"
          [(ngModel)]="valorPesquisa"
        >
        <button
          type="submit"
          pButton
          icon="pi pi-search"
        ></button>
      </p-inputGroup>
    </form>
  </div>

  <div class="menu">
    <p-button
      icon="pi pi-user-plus"
      label="Criar sua conta"
      size="small"
      [rounded]="true"
      [outlined]="true"
    />
    <p-button
      icon="pi pi-sign-in"
      label="Entrar"
      size="small"
      [rounded]="true"
      [outlined]="true"
    />
    <p-button
      icon="pi pi-shopping-cart"
      label="Carrinho"
      size="small"
      [badge]="badgeValue"
      badgeClass="p-badge-danger"
      [rounded]="true"
      [routerLink]="['/carrinho']"
    />
  </div>
</header>
