.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f0f0f0;

  .logo {
    img {
      max-width: 100px;
    }
  }

  .pesquisar {
    flex: 1;
    display: flex;
    align-items: center;
    margin: 0 20px;

    input {
      flex: 1;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      margin-right: 10px;
    }

    button {
      padding: 8px 15px;
      background-color: #313232;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      &:hover {
        background-color: #6e7378;
      }
    }
  }

  .menu {
    a {
      margin-left: 10px;
      text-decoration: none;
      color: #333;
    }

    .badgeCarrinho {
      background-color: red;
      color: white;
      padding: 0 3px;
      border-radius: 5px;
    }
  }
}
