<nav class="barra-navegacao">
  <ul>
    <li><a routerLink="/lista-produtos" routerLinkActive="active">Todos os Produtos</a></li>
    <li><a routerLink="/Ofertas" routerLinkActive="active">Ofertas</a></li>
    <li><a routerLink="/Mais-vendidos" routerLinkActive="active">Mais Vendidos</a></li>
    <li><a routerLink="/Eletrônicos" routerLinkActive="active">Eletrônicos</a></li>
    <li><a routerLink="/Roupas" routerLinkActive="active">Roupas</a></li>
    <li><a routerLink="/Casa" routerLinkActive="active">Produtos para a sua Casa</a></li>
  </ul>
</nav>

