ul {
    list-style-type: none;
    padding: 0px;
}

#carrinho {
    margin: 30px;
    display: flex;
    justify-content: space-between;
    #produtos {
    height: min-content;
    width: 60vw;
    border: 3px solid #88b2f5;
    border-radius: 15px;
    padding: 0px 1vw;
    }
}

#quantidade {
    display: flex;
    width: 100px;
    height: 35px;
    margin-top: 1em;
    background-color: transparent;
    border: 2px solid #3B82F6;
    border-radius: 30px;
    .quantidadeButton{
        color: #3B82F6;
        font-weight: 400;
        font-size: 25px;
        border: none;
        background-color: transparent;
        width: 33.33%;
        height: 35px;
        margin: 0px;
        padding: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    .quantidadeNumero{
        color: #3B82F6;
        font-weight: 600;
        font-size: 16px;
        border: none;
        background-color: transparent;
        width: 33.33%;
        height: 35px;
        margin: 0px;
        padding: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.produto {
    height: 17vh;
    display: flex;
    justify-content: space-around;
    padding: 2vh 0px;
}

img {
    height: 13vh;
    width: 13vh;
    object-fit: contain;
    margin-right: 2vw;
}

.separador {
    width: 95%;
    margin-left: 2.5%;
    height: 1px;
    background-color: #3B82F6;
}

#informacoes {
    width: 30vw;
    font-size: 14px;
    display: flex;
}

#nome {
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#botoes {
    margin-bottom: 1vh;
    display: flex;
    justify-content: space-evenly;
}

.botao {
    border: none;
    background-color: transparent;
    font-weight: bold;
    color: #3B82F6;
    cursor: pointer;
}

.preco {
    font-weight: 500;
    width: 100px;
    margin: 0px;
}

.precoAnterior {
    font-size: 0.8em;
    margin: 0px;
    text-decoration: line-through;
    color: dimgray;
}

#resumoCompra {
    width: 30vw;
    height: min-content;
    border: 3px solid #88b2f5;
    border-radius: 15px;
    padding: 0px 1vw;
}

.titulo {
    color: #3B82F6;
    padding-left: 3vh;
}

.resumoProduto {
    font-size: 14px;
    padding: 1vh 0px;
    display: flex;
    justify-content: space-between;
    .resumoProdutoNome {
        width: 20vw;
    }
    .resumoProdutoPreco {
        font-weight: 500;
        width: 8vw;
        text-align: right;
    }
}

#frete {
    font-size: 14px;
    padding: 1vh 0px;
    display: flex;
    justify-content: space-between;
    #fretePreco {
        color: #37cb3c;
        font-weight: 500;
        width: 8vw;
        text-align: right;
    }
}

#total {
    font-size: 17px;
    font-weight: 700;
    padding: 1vh 0px;
    display: flex;
    justify-content: space-between;
    color: #3B82F6;
    #totalPreco {
        width: 15vw;
        text-align: right;
    }
}

#continuarCompra {
    width: 100%;
    height: 50px;
    color: white;
    background-color: #3B82F6;
    border: none;
    border-radius: 20px;
    font-weight: 700;
    font-size: 15px;
    font-family: 'Inter var', sans-serif;
    margin-bottom: 3vh;
    cursor: pointer;
}

#carrinhoVazio {
    color: #3B82F6;
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#botaoCarrinhoVazio {
    width: 30%;
    margin-left: 35%;
    height: 50px;
    color: white;
    background-color: #3B82F6;
    border: none;
    border-radius: 20px;
    font-weight: 700;
    font-size: 15px;
    font-family: 'Inter var', sans-serif;
    margin-bottom: 3vh;
    cursor: pointer;
}