<footer class="footer p-panel p-component">
  <div class="logo">
    <img src="IMG.png" alt="">
</div>
<div class="p-grid p-nogutter">
  <div class="p-col">
    <a href="#" class="p-footer-link"><i class="pi pi-check"></i> Condições de uso</a>
  </div>
  <div class="p-col">
    <a href="#" class="p-footer-link"><i class="pi pi-shield"></i> Notificação de Privacidade</a>
  </div>
  <div class="p-col">
    <a href="#" class="p-footer-link"><i class="pi pi-user-plus"></i> Trabalhe Conosco</a>
  </div>
  <div class="p-col">
    <a href="#" class="p-footer-link"><i class="pi pi-eye"></i> Acessibilidade</a>
  </div>
  <div class="p-col">
    <a href="#" class="p-footer-link"><i class="pi pi-envelope"></i> Contato</a>
  </div>

</div>
<div class="info-empresa">
    <p>E-commerce | CNPJ: 00.000.000/0001-00</p>
</div>
</footer>

