
<div class="banner">
  <p-carousel [value]="ofertas" [numVisible]="1" [numScroll]="1" [circular]="true" [autoplayInterval]="3000">
    <ng-template pTemplate="item" let-oferta>
      <div class="carrossel-item">
        <img [src]="oferta.imgSrc" class="carrossel-imagem">
      </div>
    </ng-template>
  </p-carousel>
</div>

<section>
  <h2>Mais Vendido da Semana</h2>
  <div class="produtos">
    @for (produto of produtosDaSemana; track produto.id) {
      <app-card [produto]="produto" />
    }
  </div>
</section>

<section>
  <h2>Ofertas do Dia</h2>
  <div class="produtos">
    @for (produto of produtosPromocao; track produto.id) {
      <app-card [produto]="produto" />
    }
</div>
</section>

