<app-header />

<div class="banner">
  <p-carousel [value]="ofertas" [numVisible]="1" [numScroll]="1" [circular]="true" [autoplayInterval]="3000">
    <ng-template pTemplate="item" let-oferta>
      <div class="carrossel-item">
        <img [src]="oferta.imgSrc" class="carrossel-imagem">
      </div>
    </ng-template>
  </p-carousel>
</div>

<section>
  <h2>Mais Vendido da Semana</h2>
  <div class="produtos">
    <div class="produto-card">
      <h3>Produto A</h3>
      <p>Valor</p>
      <button [routerLink]="['/detalhes']">Ver Detalhes</button>
    </div>
    <div class="produto-card">
      <h3>Produto B</h3>
      <p>Valor</p>
      <button [routerLink]="['/detalhes']">Ver Detalhes</button>
    </div>
  </div>
</section>

<section>
  <h2>Ofertas do Dia</h2>
  <div class="produtos">
    <div class="produto-card">
      <h3>Produto C</h3>
      <p>Valor</p>
      <button [routerLink]="['/detalhes']">Ver Detalhes</button>
    </div>
    <div class="produto-card">
      <h3>Produto D</h3>
      <p>Valor</p>
      <button [routerLink]="['/detalhes']">Ver Detalhes</button>
    </div>
  </div>
</section>

<app-footer/>

