<app-header />

<div class="banner">
  <div class="carousel">
    <div class="carousel-item">Carrosel Oferta 1</div>
    <div class="carousel-item">Carrosel Oferta 2</div>
    <div class="carousel-item">Carrosel Oferta 3</div>
  </div>
</div>

<section>
  <h2>Mais Vendido da Semana</h2>
  <div class="produtos">
    <div class="produto-card">
      <h3>Produto A</h3>
      <p>Valor</p>
      <button [routerLink]="['/detalhes']">Ver Detalhes</button>
    </div>
    <div class="produto-card">
      <h3>Produto B</h3>
      <p>Valor</p>
      <button [routerLink]="['/detalhes']">Ver Detalhes</button>
    </div>
  </div>
</section>

<section>
  <h2>Ofertas do Dia</h2>
  <div class="produtos">
    <div class="produto-card">
      <h3>Produto C</h3>
      <p>Valor</p>
      <button [routerLink]="['/detalhes']">Ver Detalhes</button>
    </div>
    <div class="produto-card">
      <h3>Produto D</h3>
      <p>Valor</p>
      <button [routerLink]="['/detalhes']">Ver Detalhes</button>
    </div>
  </div>
</section>

<app-footer/>

